{% extends 'restaurant/base.html' %}
{% load bootstrap4 %}

{% block page %}
<div class="container">
    <div class="row">
            <div class="card col-10">
                <div class="card-header bg-blue">
                    <div class="card-title text-center text-white">
                        <h4>Add Meal</h4>
                    </div>
                </div>
                <div class="card-body">
                    <form method="post" class="form" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        {% buttons %}
                            <button type="submit" class="btn btn-primary">Create</button>
                        {% endbuttons %}
                    </form>
                </div>
            </div>
    </div>
</div>

{% endblock  %}