{% extends 'restaurant/base.html' %}
{% load bootstrap4 %}

{% block page %}
<div class="card mb-3">
    <div class="card-header bg-blue mb-2 text-center text-white"><h1>Meals</h1></div>
    <div class="card-body">
        <div class="text-right mb-3">
            <a class="btn btn-primary" href="{% url 'restaurant-add-meal' %}" role="button">Add Meal</a>
        </div>

    <table class="table">
        <thead>
            <tr class="bg-secondary text-white">
                <th>ID</th>
                <th>Name</th>
                <th>Short Description</th>
                <th>Price</th>
                <th class="text-center">Image</th>
            </tr>
        </thead>
        <tbody>
                {% for meal in meals %}
            <tr style="border-bottom: 1px #000000 solid;">
                <td scope="row">{{ meal.id }}</td>
                <td><a href="{% url 'restaurant-edit-meal' meal.id %}">{{ meal.name }}</a></td>
                <td>{{ meal.short_description }}</td>
                <td>{{ meal.price }}</td>
                <td class="text-center">
                    <img src="{{ MEDIA_URL }}{{ meal.image }}" class="rounded-circle" alt="" width="50" height="50">
                </td>
            </tr>
                {% endfor %}
            
        </tbody>
    </table>
    </div>
</div>

{% endblock  %}