{% extends 'base_signup.html' %}
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    {% bootstrap_messages %}

{% block title %}Sign In{% endblock  %}

{% block heading %}Restaurant - Sign in{% endblock  %}
   
{% block content %}
    
    <form method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
  
    {% buttons %}
        <button type="submit" class="btn btn-primary btn-lg">
        Sign In
        </button>
    {% endbuttons %}
    <br>
    <p>Want to sign up your restaurant?</p>
    <a class="btn btn-outline-secondary" href="{% url 'restaurant-sign-up' %}">Restaurant Sign Up</a>

    </form>

{% endblock  %}   
    