{%  load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>{% block title %} {% endblock %}</title>

    {# Load the tag library #}
    {% load bootstrap4 %}

    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}

    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}
</head>
<body class="bg-secondary">
    <div class="container">
        <div class="row">
            <div class="p-5 ">
                <div class="card p-4">
                    <div class="card-title p-3">
                        <h3 class="text-center text-uppercase"><b>{% block heading %}{% endblock  %}</b></h3>
                        <br/>
                        <div class="card-body">{% block content %}{% endblock  %}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
</body>
</html>